<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSFD Taste comparison tool</title>
</head>
<body>
    <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>

    <form role="form" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="id1" placeholder="User ID 1" required>
                <input type="text" class="form-control" name="id2" placeholder="User ID 2" required>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
    </form>
    
    {% if summary is defined %}
    
    <p>The user <a href=https://www.csfd.cz/uzivatel/{{ summary.id1 }} > {{ summary.id1 }} </a> has {{ summary.set1 | count }} top-rated films.</p>
    <p>The user <a href=https://www.csfd.cz/uzivatel/{{ summary.id2 }} > {{ summary.id2 }} </a> has {{ summary.set2 | count }} top-rated films.</p>
    <p>Both users have {{summary.commonTopFilms | count }} top films in common.<br>
    That means:</p>
    <p>{{ summary.id1 }} is {{ '{:0.0f}'.format(summary.id1_to_id2_score) }} % compatible to {{ summary.id2 }}, while<br>
       {{ summary.id2 }} is {{ '{:0.0f}'.format(summary.id2_to_id1_score) }} % compatible to {{ summary.id1 }}.</p>
       
    <img src="{{ summary.getVennChartURL() }}" />
       
    <p>They share these top-rated films:
      <ul id="filmList">
      {% for film in summary.commonTopFilms %}
          <li> {{ film }} </li>
      {% endfor %}
      </ul>
    </p>
    
    {% else %}
    
    <p>To compare taste of two users, copy the User IDs to the input form. The User ID looks like "123456-abcdef" (the yellow part on the following image).</p>
    <img src="{{url_for('static', filename='user_id.png')}}" />
    
    {% endif %}
    
</body>
</html>
