<!DOCTYPE html>
<html lang="en">
<head>
    <title>ČSFD Porovnávač vkusu</title>
</head>
<body>
    <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>

    <form role="form" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="id1" placeholder="User ID 1" required>
                <input type="text" class="form-control" name="id2" placeholder="User ID 2" required>
            </div>
            <button type="submit" class="btn btn-default">Porovnať</button>
    </form>
    
    {% if summary is defined %}
    
    <p>Používateľ <a href=https://www.csfd.cz/uzivatel/{{ summary.id1 }} > {{ summary.id1 }} </a> bol veľmi spokojný s {{ summary.set1 | count }} filmami.</p>
    <p>Používateľ <a href=https://www.csfd.cz/uzivatel/{{ summary.id2 }} > {{ summary.id2 }} </a> bol veľmi spokojný s {{ summary.set2 | count }} filmami.</p>
    <p>Obom sa páčilo {{summary.commonTopFilms | count }} rovnakých filmov.<br>
    To znamená:</p>
    <p>{{ summary.id1 }} je {{ '{:0.0f}'.format(summary.id1_to_id2_score) }} % kompatibilný/á s {{ summary.id2 }}, a<br>
       {{ summary.id2 }} je {{ '{:0.0f}'.format(summary.id2_to_id1_score) }} % kompatibilný/á s {{ summary.id1 }}.</p>
       
    <img src="{{ summary.getVennChartURL() }}" />
       
    <p>Obom sa páčili tieto filmy:
      <ul id="filmList">
      {% for film in summary.commonTopFilms %}
          <li> {{ film }} </li>
      {% endfor %}
      </ul>
    </p>
    
    {% else %}
    
    <p>Skopírujte ID používateľov do formuláru. ID používateľa má tvar "123456-abcdef" (na obrázku zvýraznené žltou farbou).</p>
    <img src="{{url_for('static', filename='user_id.png')}}" />
    
    {% endif %}
    
</body>
</html>
